/* html,body{
    overflow-x: hidden;
} */
* {
    box-sizing: border-box;
    font-family: 'Salesforce-Avan', system-ui, '-apple-system', 'blinkmacsystemfont', 'Segoe UI', 'roboto', 'Helvetica Neue', arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.card {
    border: none;
}

.header-style {
    padding: 10px 0px;
    /* border: 1px solid black;
    border-radius: 50px; */
}

ul {
    height: 100%;
}

.list_items {
    text-decoration: none;
    list-style-type: none;
}

.nav_parent_label {
    font-weight: 600;
    font-size: 15px;
}

/* .list-items button span::after{
   background-image: url(../icons/icon_chevron_black_nav.svg);
} */

.nav_search_btn svg {
    margin: 0 15px 0 0;
}

a {
    text-decoration: none;
    color: black;
}

.btn_sales {
    color: #611f69;
    box-shadow: inset 0 0 0 1px #611f69;
    font-weight: 600;
}

.btn_sales:hover {
    border: 1px solid #611f69;
}

.btn_started {
    color: #fff;
    background-color: #611f69;
    font-weight: 600;
}

.btn_started:hover {
    color: #fff;
    background-color: #4a154b;
}

.nav_search_btn~.btn {
    height: 45px;
    /* font-size: 18px; */
    padding: 20px;
}

.btn_wrapper .btn {
    height: 60px;
    /* text-align: center; */
    /* font-size: 18px; */
    /* padding: 10px 20px; */
}

/* .billboard{
    font-weight: 600;
} */
.billboard h1 {
    font-size: 50px;
    font-weight: 700;
}

.billboard p {
    font-size: 20px;
    font-weight: 400;
}

.billboard_text h6 {
    font-size: 1rem;
    font-weight: 700;
}

.get_more {
    margin-top: 10rem;
    padding: 0 10%;
}

.get_more p {
    font-size: 20px;
    font-weight: 400;
}

.get_more h1 {
    /* font-size: 60px; */
    font-size: 50px;
    font-weight: 700;
}

.get_more .card-container .card {
    padding: 20px 40px;
    border: none;
}

.get_more .card-container .card p {
    font-size: 16px;
    font-weight: 500;
}

.card-container+p {
    margin: 1rem;
    font-size: .9rem;
    color: #696969;
}

.connect_faster {
    margin-top: 5rem;
}

.connect_faster .card .left-card .left_card_leftsection {
    background-color: #4a154b;
    color: #fff;
}

/* .connect_faster .card {
    border: none;
} */

.connect_securely {
    margin-top: 5rem;
}

/* .connect_securely .card {
    border: none;
} */

.connect_securely .card img {
    max-width: 80%;
    height: auto;
}

.connect_tools {
    margin-top: 5rem;
}

/* .connect_tools .card {
    border: none;
} */

.connect_faster .card .left-card {
    /* border-radius: 5px; */
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.get_started {
    margin-top: 10rem;
}

.get_started p {
    font-size: 20px;
    font-weight: 400;
}

.get_started h1 {
    /* font-size: 60px; */
    font-size: 50px;
    font-weight: 700;
}

.built_for_roles {
    margin-top: 10rem;
}

.built_for_roles p {
    font-size: 20px;
    font-weight: 400;
}

.built_for_roles h1 {
    /* font-size: 60px; */
    font-size: 50px;
    font-weight: 700;
}

.built_for_roles .card_wrapper .card {
    box-shadow: 0 0 calc(2* 1rem) rgba(0, 0, 0, .1);
    border-radius: 0;
    margin: 10px 10px 10px;
    padding: 1rem;
    transition: ease-in-out 0.3s;
    position: relative;
}

.built_for_roles .card_wrapper .card::after {
    content: '';
    width: 25px;
    height: 14px;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-image: url('./icons/icon_arrow.svg');
}

.built_for_roles .card_wrapper .card:hover {
    box-shadow: 0 0 calc(2* 1rem) rgba(0, 0, 0, .2);
    color: #1264a3;
    transform: scale(1.05);
}


.built_for_roles .card_wrapper .card p {
    font-size: 1.125rem;
    margin-bottom: 5rem;
}

.built_for_roles .card_wrapper .card div svg {
    width: 50px;
    height: 50px;
}

.contact_sales .bg_purple{
    margin-top: 5rem;
    height: 300px;
    /* width: 100%; */
    background-color: #4a154b;
    border: 1px solid black;
    border-radius: 0 0 75% 75%;
}

.input {
    border-radius: 4px;
    border: 1px solid rgba(29, 28, 29, .7);
    color: rgba(29, 28, 29, .5);
    min-height: 47px;
    padding: 12px;
}

.left_card_leftsection {
    width: 35%;
}

.left_card_rightsection {
    width: 65%;
}

.left_card_rightsection h6 {
    font-weight: 700;
}

.left_card_rightsection .padding {
    padding: 10px 40px 10px 40px;
}

.user_interaction div img {
    margin-right: 15px;
}

.messages+.message_list::before {
    /* content: 'ho'; */
    /* background-image: url('../icons/icon_slackbot_heart.svg'); */
}

.message_list span {
    color: #2bac76;
}

.circle {
    height: 10px;
    width: 10px;
    background-color: #2bac76;
    border-radius: 50%;
    display: inline-block;
}

.boxicon {
    height: 15px;
    width: 15px;
    background: #2f8ab7;
    border-radius: 3px;
    border: 1px solid #fff;
    margin-right: 5px;
}

.person_a+.boxicon {
    position: absolute;
    right: 0;
    left: 310px;
    bottom: 0;
    top: 144px;
}


.boxicon+p {
    font-size: 13px;
}

.boxicon+p strong {
    color: #616061;
    font-size: 13px;
}

.feature_list_container h1 {
    font-size: 50px;
    font-weight: 700;
}

.feature_list {
    list-style-type: none;
}

.feature_list::before {
    content: url('./icons/icon_checkmark_homepage.svg');
    /* display: inline-block; */
    /* width: 15px;
    height: 15px; */
    margin-right: 5px;
}

.feature_list_container {
    font-size: 20px;
}

.feature_list_container a {
    color: #1264a3;
    font-size: 20px;
}

.feature_ul_wrapper+p a::after {
    background-image: url('./icons/icon_arrow.svg');
    content: '';
    width: 19px;
    height: 13px;
    display: inline-block;
    margin-left: .5em;
}

.last_link {
    color: #1264a3;
    font-size: 14px;
    font-weight: 500;
}

.last_link+img {
    width: 25px;
    height: 13px;
}

.blog_section {
    padding: 10% 12%;
}

.blog_section h1 {
    font-size: 50px;
    font-weight: 700;
}

.blog_section .card {
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    /* height: 350px; */
}

.blog_section .card:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

footer {
    font-size: 14px;
}

.footer_list {
    list-style-type: none;
}

.d_slack a {
    color: #1264a3;
}

.footer_list a:hover {
    color: #1264a3;
}

.btn_list {
    border: none;
    background-color: #fff;
}

@media screen and (max-width: 556px) {

    /* body{
        max-width: 100%;
    } */
    .billboard_text h1 {
        font-size: 30px;
        /* color: #2bac76; */
    }

    .billboard_img {
        max-height: 200px;
        max-width: 300px;
    }

    .slack_logo_wrapper {
        width: 125px;
    }

    .nav_list_wrapper {
        display: none;
    }

    footer ul {
        /* background-color: blue; */
        display: flex;
        flex-direction: column;

    }

    footer>div p {
        text-align: start;
    }
}

@media screen and (max-width: 1100px) {
    .nav_list_wrapper {
        display: none;
    }
}

/* @media screen and (max-width:1100px)and (min-width: 1200px) {
    .nav_search_btn+a{
        display: none !important;
    }
  } */
@media screen and (min-width: 1100px) {

    .mobnav_searchBtn {
        display: none;
    }

    .btn_list {
        display: none;
    }

}